.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header, .secondaryHeader {
    text-align: start !important;
    /* flex: none !important; */
    margin: 0 20px !important;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 1%;
    align-items: center;
}

.card {
    background-color: aliceblue;
    width: 20%;
    margin: 1%;
    height: 95%;
}